.category-box{
  background-image: linear-gradient(to right, #FFDD00, #FBB034);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  position: relative;
}
.edit-button{
  position: absolute;
  display: none;
}
.edit-button button{
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
}
.category-box:hover .edit-button{
  display: block;
}
.form-edit-category{
  display: none;
}
.form-edit-category .button{
  font-size: 1em;
}
.form-edit-category input{
  outline: none;
  border-radius: 10px;
  border: 1px solid rgb(75, 75, 75);
  padding: 5px 10px;
}
.form-edit-category input:focus{
  box-shadow: 1px 1px 2px #4fd3ff, 1px 1px 2px #4fd3ff inset;
}