.logo-sm{
  background-image: url('../logo-sm.png');
  background-size: cover;
  background-position: 45% 42%;
  width: 300px;
  height: 60px;
}

ul li{
  list-style: none;
}
ul li a{
  color: rgb(34, 34, 34);
  font-weight: 500;
}
a:link, a:visited, a:active {
  text-decoration:none;
}
.nav-container{
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 10px 5px;
  border-bottom: 1px solid rgba(95, 95, 95, 0.658);
}
.nav-left{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 50%;
  margin: 5px 10px;
}
.nav-left li{
  padding: 5px;
  margin: 5px 10px;
}
.nav-right{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 50%;
  margin: 5px 10px;
}
.nav-right li{
  padding: 5px;
  margin: 5px 10px;
}
.search-bar{
  width: 100%;
  border-radius: 10px;
  padding: 3px 5px;
  position: relative;
}
.search-bar input{
  border: 1px solid rgb(126, 126, 126);
}
.ul-container{
  position: relative;
}
.category-container{
  position: absolute;
  top: 100%;
  z-index: 1;
  padding: 0px;
  display: none;
}
.category-container li{
  margin: 0px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid black;
  padding: 10px 15px;
}
.ul-container:hover .category-container{
  display: block;
}
.burger-menu{
  display: none;
}
.xs-menu{
  height: auto;
  width: 100%;
  padding: 10px;
}
.xs-menu p{
  text-align: center;
}
.xs-menu a{
  text-decoration: none;
  color: black;
}
.xs-menu a:visited{
  color: black;
}
.text-xs-container{
  background-color: rgba(0, 0, 0, 0.123);
  padding: 10px 0px;
}
.text-xs-container .text-xs-menu{
  font-size: 0.9em;
}
.query-results{
  width: 100%;
  height: auto;
  background-color: white;
  position: absolute;
  z-index: 2000;
}
.query-results ul{
  margin: 0;
  padding-left: 10px;
}

@media (max-width: 800.98px) {
  .nav-left, .nav-right{
    display: none;
  }
  .logo-sm{
    width: 150px;
    height: 30px;
    background-position: 45% 42%;
  }
  .burger-menu{
    display: block;
    font-size: 1.2em;
  }
  .burger-menu .icons-container{
    position: absolute;
    right: 2%;
  }
  .search-container{
    margin-right: 15%;
    width: 65%;
    position: relative;
  }
  .search-container input{
    font-size: 0.9em;
  }
}
